
.section3 {
    background: url(../../image/image1home.png);
    width: 100%;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1secti {
    width: 86%;
    display: flex;
    justify-content: space-between;
}

.containerTextos3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.title4 {
    font-size: 3rem;
    font-weight: bold;
}

.Subtitulo3 {
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #7D7E80;
}

.containerbotao {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 13%;
}

.stylebtnsec2 {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: #00000000;
    border: 2px solid white;
    cursor: pointer;
}

.iconSetas {
    width: 2rem;
    height: 2rem;
}

.seta2 {
    transform: scaleX(-1)
}

.containercard1section3 {
    margin-top: 3rem;
    width: 86%;
    display: flex;
    justify-content: space-between;
}

.cardssection3 {
    background-size: 100% 100%;
    width: 22%;
    min-height: 23rem;
    display: flex;
    justify-content: center;
}

.titlecardsection3 {
    margin-top: 100%;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #75d85c;
    text-shadow: 0 0 0.8rem #000000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #cdcdcd;
}

.bkcard1 {
    background: url(../../image/Image\ placeholder.png);
    background-size: 100% 100%;
}

.bkcard2 {
    background: url(../../image/Snapinsta\ 4.png);
    background-size: 100% 100%;
}

.bkcard3 {
    background: url(../../image/image\ 9.png);
    background-size: 100% 100%;
}

.bkcard4 {
    background: url(../../image/image\ 10.png);
    background-size: 100% 100%;
}