.ConteinerFooter {
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    align-self: center;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.ItemsFooter{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ImagemFooter{
    width: 15%;
    position: absolute;
    left: 5rem;
    margin-top: 2rem;
}
.cont1{
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.conteudo1{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.TituloConteudo{
    color: blueviolet;
    font-weight: 900;
    margin-top: 2rem;
}
.SubTituloConteudo{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: rgb(184, 184, 184);
}
.conteudo2{
    background-color: rgb(40, 31, 31);
    width: 50%;
    height: 1rem;
}
.icons{
    width: 60%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.IconFooter{
    width: 3%;
}
.navFooter{
    margin-top: 2rem;
    border-top: 1px solid gray ;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.infoFooter{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: rgb(204, 205, 206);
}

@media (min-width: 320px) and (max-width: 480px){
    .ConteinerFooter{
        width: 100%;
    }

    .ItemsFooter{
        width: 100%;
    }

    .cont1{
        width: 100%;
    }

    .ImagemFooter{
        display: none;
    }

    .IconFooter{
        width: 7%;
    }

    .navFooter{
        font-size: 0.7rem;
    }
}

@media (min-width: 481px) and (max-width: 768px){

    .ItemsFooter{
        width: 100%;
    }

    .cont1{
        width: 100%;
    }

    .ImagemFooter{
        display: none;
    }
    .IconFooter{
        width: 7%;
    }

    .navFooter{
        font-size: 0.7rem;
    }
}

@media (min-width: 1501px){
    .ConteinerFooter{
        width: 100%;
    }
}